/* .jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
} */

* {
    box-sizing: border-box;
    
}

header h1 {
    /* font-size : 2rem; */
    /* margin: 0px; */
    padding :20px;
    border : 3px solid black;
    /* display:block */
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/Jin.jpg);
    filter: grayscale(0.5);
    background-attachment: fixed;

    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
    
    /* margin : 10px; */

}

p {
    margin:10px;
    padding : 100px;
    border : 5px solid red;
    box-sizing: border-box;
    width: 400px;
    height: 150px;

}