:root {
  --color-bg: #ebc800;  /* body */
  --color-bg2: #000000; /* header y aside */
  --color-item-project: #ffffff; /* items y articles */
  --color-border: #000000;
  --color-text: #000000;
  --color-estado-contexto: #555;
  --color-accent: #00c07a;
  --color-h1-sombra: white;
  --fuente: "Zalando Sans SemiExpanded", sans-serif;

}

* {
    box-sizing: border-box;
    
}
.header {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    font-weight: 400;
    font-style: normal;
    color: var(--color-h1-sombra) ;
}

.container div.footer {
    grid-column: 1/3;
}

.nav ul {
  display: flex;
  gap: 1rem;    /* espaciado de ul */
  list-style: none;
  padding: 0 1rem 1rem; /* top | left-right | bottom;*/
  margin: 0;
}

/* body responsive */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  
  header,
  footer {
    grid-column: 1 / -1;
  }

  main {
    padding: 2rem;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

main {
  padding: 2rem;
}

.section {
  margin-bottom: 2rem;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--fuente);
  
}

.aside {
  color: var(--color-h1-sombra);
  background: var(--color-bg2);
  padding: 1rem;
  border-top: 1px solid var(--color-border);
}

.header {
  background: var(--color-bg2);
  border-bottom: 1px solid var(--color-border);
  /* padding: 1rem; */
}

.role {
  color: var(--color-accent);
  font-weight: 900;
}

.profile {
  padding: 1rem;
}

.nav a {
  text-decoration: none;
  color: var(--color-h1-sombra);
  position: relative;
}

/* Pseudo-elemento */
.nav a::after {
  content: ""; /*no text at all design only */
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--color-accent);
  transition: width 0.3s;
}

.nav a:hover::after,
.nav a:focus::after {
  width: 100%;
}

/* mismo pseudoelemento para links de proyectos */
.project ul li a {
  position: relative;
  color: var(--color-text);
  text-decoration: none;
}

.project ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--color-accent);
  transition: width 0.3s;
}

.project ul li a:hover::after,
.project ul li a:focus::after {
  width: 100%;
}

/* mismo pseudoelemento para links de proyectos */
.aside ul li a {
  position: relative;
  color: var(--color-h1-sombra);
  text-decoration: none;
}

.aside ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--color-accent);
  transition: width 0.3s;
}

.aside ul li a:hover::after,
.aside ul li a:focus::after {
  width: 100%;
}

.estado,
.contexto {
  font-size: 0.9rem;
  color: var(--color-estado-contexto);
}

/* animacion */
.item,
.project {
  background: var(--color-item-project);
  padding: 1rem;
}
  
 







/* print */
@media print {
  nav,
  .footer {
    display: none;
  }

  body {
    background: white;
  }

  /*attr(href) lee el valor del atributo href del link*/
  a::after {
    content: " (" attr(href) ")";
    font-size: 0.8rem;
  }
}
