/* .jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
} */

* {
    box-sizing: border-box;
    
}

.container {
  display: grid;
  background-color: lightcyan;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 30% 70%;
  grid-template-rows: 2fr 3fr 1fr;
    gap: 10px;

}
.header {
    /* grid-column-start:1;
    grid-column-end:3; */
    padding :10px;
    border : 3px solid black;
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/Jin.jpg);
    filter: grayscale(0.5);
    background-attachment: fixed;
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
}
.container div.header {
    border : 3px solid black;
    text-align: center;
    
}

.container div.footer {
    grid-column: 1/3;
}

.container div.menu {
    /* grid-column-start:1;
    grid-column-end:3; */
    padding :10px;
    border : 3px solid black;
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/Jin.jpg);
    filter: grayscale(0.5);
    background-attachment: fixed;
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    

}