/* .jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
} */

* {
    box-sizing: border-box;
    
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
}

.container div {
  background-color: lightblue;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
}
.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}

.header {
    /* font-size : 2rem; */
    /* margin: 0px; */
    padding :20px;
    border : 3px solid black;
    /* display:block */
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/Jin.jpg);
    filter: grayscale(0.5);
    background-attachment: fixed;

    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
    
    /* margin : 10px; */

}

/* p {
    margin:10px;
    padding : 100px;
    border : 5px solid red;
    box-sizing: border-box;
    width: 400px;
    height: 150px;

} */