:root {
  --color-bg: #ebc800;  /* body */
  --color-bg2: #000000; /* header y aside */
  --color-bg3: #ffffff; /* items y articles */
  --color-border: #000000;
  --color-text: #000000;
  --color-text2: #696464;
  --color-accent: #00c07a;
  --color-h1-sombra: white;
  --fuente: "Zalando Sans SemiExpanded", sans-serif;

}

* {
    box-sizing: border-box;
    
}
.header {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    font-weight: 400;
    font-style: normal;
    color: var(--color-h1-sombra) ;
}

.container div.footer {
    grid-column: 1/3;
}

.nav ul {
  display: flex;
  gap: 1rem;    /* espaciado de ul */
  list-style: none;
  padding: 0 1rem 1rem; /* top | left-right | bottom;*/
  margin: 0;
}

/* body responsive */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  
  header,
  footer {
    grid-column: 1 / -1;
  }

  main {
    padding: 2rem;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

main {
  padding: 2rem;
}

.section {
  margin-bottom: 2rem;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--fuente);
  
}

.item,
.project {
  background: var(--color-bg3);
  border: 1px solid var(--color-border);
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: 1rem;

}

.aside {
  color: var(--color-h1-sombra);
  background: var(--color-bg2);
  padding: 1rem;
  border-top: 1px solid var(--color-border);
}

.header {
  background: var(--color-bg2);
  border-bottom: 1px solid var(--color-border);
  /* padding: 1rem; */
}

.role {
  color: var(--color-accent);
  font-weight: 900;
}

.profile {
  padding: 1rem;
}

.nav a {
  text-decoration: none;
  color: var(--color-h1-sombra);
  position: relative;
}



