/* .jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
} */


:root {
  --color-bg: #ebc800;  /* body */
  --color-bg2: #7edcb0; /* header y aside */
  --color-bg3: #ffffff; /* items y articles */
  --color-border: #000000;
  --color-text: #000000;
  --color-text2: #696464;
  --color-accent: #06a46a;
  --fuente: "Zalando Sans SemiExpanded", sans-serif;
  /* --color-text: #1f2933;
  --color-accent: #2563eb;
  --color-border: #d1d5db; */
}

* {
    box-sizing: border-box;
    
}

.container {
  display: grid;
  background-color: lightcyan;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 30% 70%;
  grid-template-rows: 2fr 3fr 1fr;
    gap: 10px;

}
.header {
    /* grid-column-start:1;
    grid-column-end:3; */
    /* padding :10px; */
    /* border : 3px solid black; */
    width: 100%;
    height: 100%;
    /* background-image: url(./imagenes/Jin.jpg); */
    /* filter: grayscale(0.5); */
    background-attachment: fixed;
    /* font-family: "Jim Nightshade", cursive; */
    font-weight: 400;
    font-style: normal;
}
.container div.header {
    /* border : 3px solid black; */
    text-align: center;
    
}

.container div.footer {
    grid-column: 1/3;
}

.nav ul {
  display: flex;
  gap: 1rem;    /* espaciado de ul */
  list-style: none;
  padding: 0 1rem 1rem; /* top | left-right | bottom;*/
  margin: 0;
}

/* body responsive */
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  
  header,
  footer {
    grid-column: 1 / -1;
  }

  main {
    padding: 2rem;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

main {
  padding: 2rem;
}

.section {
  margin-bottom: 2rem;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--fuente);
  
}

.item,
.project {
  background: var(--color-bg3);
  border: 1px solid var(--color-border);
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: 1rem;

}

.aside {
  background: var(--color-bg2);
  padding: 1rem;
  border-top: 1px solid var(--color-border);
}

.header {
  background: var(--color-bg2);
  border-bottom: 1px solid var(--color-border);
  /* padding: 1rem; */
}

.role {
  color: var(--color-accent);
  font-weight: 900;
}

.profile {
  padding: 1rem;
}

.meta,
.context {
  font-size: 0.9rem;
  color: var(--color-text2)
}

